<div class="navbar navbar-fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggle" style="float:left;" data-toggle="collapse" data-target=".navbar-collapse">
            <div class="icon-bar" style="width:35px; height:5px; background-color:black; margin:5px;"></div>
            <div class="icon-bar" style="width:35px; height:5px; background-color:black; margin:5px;"></div>
            <div class="icon-bar" style="width:35px; height:5px; background-color:black; margin:5px;"></div>
        </button>
        <div class="navbar-header">
            <div style="font-size:50px; float:right;">T.A.D.</div>
            @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>