@{
    ViewBag.Title = "About The Organization";
}
<h2>@ViewBag.Title</h2>

<h4>This was started on July 4, 1776 in order to form a more perfect union.</h4>
<h4>Aenean porttitor lacinia velit sit amet bibendum. Maecenas eleifend posuere libero, a dapibus nulla congue at. Vivamus nec accumsan felis. Nullam luctus, purus sed suscipit imperdiet, velit justo eleifend ligula, ac malesuada eros mi quis neque. Integer interdum elit eros, id elementum nisi sollicitudin id. Sed egestas lacus ac purus porta, eget egestas ante placerat. Sed suscipit odio nec lectus rhoncus pellentesque. Mauris tempor augue non volutpat consequat. Mauris porttitor elit in massa sollicitudin pellentesque. Nulla facilisi. Suspendisse justo sem, tincidunt id volutpat dictum, malesuada non leo. Cras gravida rutrum quam sit amet dapibus. Cras euismod eu odio sit amet accumsan. Proin nec diam at erat scelerisque auctor. Nam in arcu sapien.</h4>
