@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h4>Group Member 1: Rebecca Fisher</h4>

<address>
    1618 Fibbonacci St.<br />
    Paris, Texas 81618<br />
    <abbr title="Phone">P:</abbr>
    720.256.1618
</address>

<h4>Group Member 2: Cooper Lastname</h4>

<address>
    1618 Fibbonacci St.<br />
    Paris, Texas 81618<br />
    <abbr title="Phone">P:</abbr>
    720.256.1618
</address>

<h4>Group Member 3: Firstname Lastname</h4>

<address>
    1618 Fibbonacci St.<br />
    Paris, Texas 81618<br />
    <abbr title="Phone">P:</abbr>
    720.256.1618
</address>

<h4>Group Member 4: Firstname Lastname</h4>

<address>
    1618 Fibbonacci St.<br />
    Paris, Texas 81618<br />
    <abbr title="Phone">P:</abbr>
    720.256.1618
</address>

<h4>Website Designer: Elijah Fisher</h4>

<address>
    1320 Folsom St<br />
    Boulder, CO 80111<br />
    <abbr title="Phone">P:</abbr>
    720.626.0165
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ElijahCFisher@gmail.com">ElijahCFisher@example.com</a>
</address>