@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>T. A. D.</h1>
    <p class="lead">T.A.D. is an organization dedicated to achieving equality</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Item one</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur enim orci, gravida vitae nulla quis, elementum imperdiet felis. Mauris sit amet lacus nec ipsum iaculis pharetra. Etiam massa risus, pellentesque id nisl id, fermentum hendrerit velit. Pellentesque sagittis tortor quis commodo pellentesque.
        </p>
        <p><a class="btn btn-default" href="http://google.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Item Two</h2>
        <p>Ut enim magna, venenatis non leo sit amet, lobortis rutrum erat. Integer semper ac tellus at blandit. Donec id felis eget leo eleifend ullamcorper a sit amet tellus. Nullam eu volutpat arcu, pretium vestibulum mi. Sed id varius quam. Proin dignissim leo vel lacus pulvinar, vitae finibus ante condimentum. Ut efficitur dui auctor mauris dictum placerat. Aliquam suscipit elit id scelerisque tincidunt.</p>
        <p><a class="btn btn-default" href="http://google.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Item Three</h2>
        <p>Nam eu metus odio. Morbi feugiat sodales porttitor. Maecenas faucibus orci eget aliquet euismod. Pellentesque sed aliquet nibh, vulputate malesuada tellus. Duis eget dolor id enim finibus congue. Nam pretium tortor et laoreet eleifend. Praesent lacinia ut ante eu dignissim. Integer venenatis lorem quis ligula commodo feugiat. Nulla lacinia eget dolor interdum sodales. Suspendisse eget eleifend purus. Proin at nibh eu nisl scelerisque condimentum et vitae ante. Ut eget ipsum non nibh ornare tincidunt nec vitae mauris. Morbi eget pellentesque nunc, in suscipit quam. Nulla tincidunt accumsan cursus. In quam tortor, faucibus quis ante et, gravida tempus velit. Donec felis ante, auctor ornare erat interdum, cursus euismod metus.</p>
        <p><a class="btn btn-default" href="http://google.com">Learn more &raquo;</a></p>
    </div>
</div>